# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Distribution / packaging
*.egg
*.egg-info/
dist/
build/
eggs/
*.egg

# Virtualenv
venv/
ENV/
env/
botenv/
.venv/

# IDEs
.idea/
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints
